:root {
    --primary-color: #011601;
    /* forest green */
    --secondary-color: #f4a261;
    /*warm sand*/
    --accent1-color: #264653;
    /*dark slate blue*/
    --accent2-color: #e9c46a;
    /*light golden yellow*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

header a {
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 90%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
    border-radius: 6px;

}

.hero article {
    position: absolute;
    background-color: var(--accent2-color);
    color: var(--primary-color);
    bottom: 20px;
    background-color: var(--secondary-color);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    max-width: 90%;
    opacity: 0.8;
}