:root {
    --primary-color: #011601;
    /* forest green */
    --secondary-color: #532805;
    /*warm sand*/
    --accent1-color: #264653;
    /*dark slate blue*/
    --accent2-color: #e9c46a;
    /*light golden yellow*/
    --article1-color: #ddd;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

header a {
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
footer {
    width: 95%;
    margin: 0 auto;
}

main {
    width: 98%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: #fff;
    background-color: var(--accent1-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: relative;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--article1-color);
    border-radius: 6px;
}

.hero article {
    position: absolute;
    color: var(--article1-color);
    bottom: 20px;
    background-color: var(--secondary-color);
    padding: 16px;
    border-radius: 8px;
    max-width: 90%;
    opacity: 0.8;
}

.hero article img {
    float: right;
    width: 150px;
    margin-left: 15px;

}

.site-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 10px 10px;
    background-color: #004466;
}

.site-header img {
    max-height: 90px;
}

.site-header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}

.site-header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.history-layout {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    align-items: center;
}

.history-layout img {
    padding: 15px;
    width: 300px;

}

.adventure-repositorium {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 15px
}

.adventure-repositorium figure {
    text-align: center;
    flex: 1;
}

.adventure-repositorium img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #122b38;
    color: white;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia img {
    width: 24px;
    height: 24px;
}