* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
}

h1 {
    color: rgb(5, 5, 68);
    padding: .5rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    margin-bottom: 18px;
}

main {
    max-width: 800px;
    padding: 25px;
}

main img {
    width: 150px;
    height: 160px;
    border: 2px solid burlywood;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
    float: right;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: relative;
    top: 35px;
    left: auto;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*Class Selectors*/
.box {
    margin: 1 rem;
    border: 1 px solid rgb(0 0 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}